.admin{
    color: #BECAE6;
    text-align: center;
    margin: 5px;
    font-size: 3em;
}

main {
    height: 100%;
}

.mb-2{
    display: flex; 
    justify-content: center
}

.users-btn, .inventory-btn{

    margin-right: 5px;
}