.hats {
  color: #becae6;
  text-align: center;
  margin: 5px;
  font-size: 3em;
}

#items {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  gap: 50px;
}

.item-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
