#items {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  gap: 50px;
  margin-left: auto;
  margin-right: auto;
}

.item-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
